body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.income, .expenses {
    width: 45%;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.income h2, .expenses h2 {
    margin-top: 0;
}

#income-list, #expense-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#income-list li, #expense-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#income-list li:last-child, #expense-list li:last-child {
    border-bottom: none;
}

.balance {
    width: 10%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}